class AppConfig {
  // Copy this file, rename it to config.dart, and fill in your details
  // config.dart is gitignored so your personal info stays private
  static const String name = "Firstname Lastname";
  static const String jobTitle = "Your Job Title";
  static const String company = "Your Company";
  static const String email = "your@email.com";
  static const String phone = "+xxx xx xxx xxxx";
  static const String location = "Your location"; 
  static const String linkedInUrl = "https://linkedin.com/in/yourprofile";
  static const String portfolioUrl = "https://yourportfolio.com";
  static const String githubUrl = "https://github.com/yourgithubprofile";
  static const String profileImage = "assets/images/profile_image.jpg"; 
  static const String logoImage = "assets/images/logo_image.png";
  static const String qrImage = "assets/images/qr_image.png";
}
